<div class="text-neutral-900 flex text-[0.81rem] bg-white">
    <div class="mr-12">
        <ul class="mt-8">
            <li class="list-item mb-5">
                <button class="bg-blue-500 text-white cursor-pointer font-bold py-2 px-5 text-center align-middle rounded truncate"><span>Ask a Question</span></button>
            </li>
            <li class="list-item mb-3">
                <button class="w-full bg-slate-200 text-slate-500 cursor-pointer inline-block py-2 px-3 text-center align-middle whitespace-nowrap rounded"><i class="inline-block mr-1.5"></i><span>Follow</span></button>
            </li>
            <li class="list-item mb-3">
                <div class="align-middle">
                    <ul class="rounded">
                        <li class="list-item">
                            <a href="https://discuss.flarum.org/" class="text-slate-500 cursor-pointer py-2 pl-8 truncate"><i class="float-left -ml-8 mr-1.5 mt-1"></i><span>All Discussions</span></a>
                        </li>
                        <li class="list-item">
                            <a href="https://discuss.flarum.org/private" class="text-slate-500 cursor-pointer py-2 pl-8 truncate"><i class="float-left -ml-8 mr-1.5 mt-1"></i><span>Private Discussions</span></a>
                        </li>
                        <li class="list-item">
                            <a href="https://discuss.flarum.org/access-portal" class="text-slate-500 cursor-pointer py-2 pl-8 truncate"><i class="float-left -ml-8 mr-1.5 mt-1"></i><span>Access portal</span></a>
                        </li>
                        <li class="list-item">
                            <a href="https://discuss.flarum.org/following" class="text-slate-500 cursor-pointer py-2 pl-8 truncate"><i class="float-left -ml-8 mr-1.5 mt-1"></i><span>Following</span></a>
                        </li>
                        <li class="list-item">
                            <a href="https://discuss.flarum.org/tags" class="text-slate-500 cursor-pointer py-2 pl-8 truncate"><i class="float-left -ml-8 mr-1.5 mt-1"></i><span>Tags</span></a>
                        </li>
                        <li class="list-item my-2"></li>
                        <li class="list-item">
                            <a href="https://discuss.flarum.org/t/sandbox" class="text-slate-500 cursor-pointer py-2 pl-8 truncate"><i class="text-stone-400 float-left -ml-8 mr-1.5 mt-1"></i><span>Test Posting</span></a>
                        </li>
                        <li class="list-item">
                            <a href="https://discuss.flarum.org/t/support" class="text-blue-500 cursor-pointer font-bold py-2 pl-8 truncate"><i class="float-left -ml-8 mr-1.5 mt-1"></i><span>Support</span></a>
                        </li>
                        <li class="list-item">
                            <a href="https://discuss.flarum.org/t/installation" class="text-slate-500 cursor-pointer ml-3 py-2 pl-8 truncate"><span>Installation</span></a>
                        </li>
                        <li class="list-item">
                            <a href="https://discuss.flarum.org/t/upgrading" class="text-slate-500 cursor-pointer ml-3 py-2 pl-8 truncate"><span>Upgrading</span></a>
                        </li>
                        <li class="list-item">
                            <a href="https://discuss.flarum.org/t/migration" class="text-slate-500 cursor-pointer ml-3 py-2 pl-8 truncate"><span>Migration</span></a>
                        </li>
                        <li class="list-item">
                            <a href="https://discuss.flarum.org/t/hosting" class="text-slate-500 cursor-pointer ml-3 py-2 pl-8 truncate"><span>Hosting</span></a>
                        </li>
                        <li class="list-item">
                            <a href="https://discuss.flarum.org/t/meta" class="text-slate-500 cursor-pointer py-2 pl-8 truncate"><i class="text-red-500 float-left -ml-8 mr-1.5 mt-1"></i><span>Meta</span></a>
                        </li>
                        <li class="list-item">
                            <a href="https://discuss.flarum.org/t/praise" class="text-slate-500 cursor-pointer py-2 pl-8 truncate"><i class="text-violet-500 float-left -ml-8 mr-1.5 mt-1"></i><span>Praise</span></a>
                        </li>
                        <li class="list-item">
                            <a href="https://discuss.flarum.org/t/proposals" class="text-slate-500 cursor-pointer py-2 pl-8 truncate"><i class="text-fuchsia-800 float-left -ml-8 mr-1.5 mt-1"></i><span>Proposals</span></a>
                        </li>
                        <li class="list-item">
                            <a href="https://discuss.flarum.org/t/extensions" class="text-slate-500 cursor-pointer py-2 pl-8 truncate"><i class="text-green-400 float-left -ml-8 mr-1.5 mt-1"></i><span>Extensions</span></a>
                        </li>
                        <li class="list-item">
                            <a href="https://discuss.flarum.org/t/dev" class="text-slate-500 cursor-pointer py-2 pl-8 truncate"><i class="text-neutral-700 float-left -ml-8 mr-1.5 mt-1"></i><span>Dev</span></a>
                        </li>
                        <li class="list-item">
                            <a href="https://discuss.flarum.org/t/resources" class="text-slate-500 cursor-pointer py-2 pl-8 truncate"><i class="text-gray-500 float-left -ml-8 mr-1.5 mt-1"></i><span>Resources</span></a>
                        </li>
                        <li class="list-item">
                            <a href="https://discuss.flarum.org/t/off-topic" class="text-slate-500 cursor-pointer py-2 pl-8 truncate"><i class="text-orange-400 float-left -ml-8 mr-1.5 mt-1"></i><span>Off-topic</span></a>
                        </li>
                        <li class="list-item">
                            <a href="https://discuss.flarum.org/t/feedback" class="text-slate-500 cursor-pointer py-2 pl-8 truncate"><i class="text-violet-500 float-left -ml-8 mr-1.5 mt-1"></i><span>Feedback</span></a>
                        </li>
                        <li class="list-item">
                            <a href="https://discuss.flarum.org/t/solved" class="text-slate-500 cursor-pointer py-2 pl-8 truncate"><i class="text-lime-500 float-left -ml-8 mr-1.5 mt-1"></i><span>Solved</span></a>
                        </li>
                        <li class="list-item">
                            <a href="https://discuss.flarum.org/t/integrations" class="text-slate-500 cursor-pointer py-2 pl-8 truncate"><i class="float-left -ml-8 mr-1.5 mt-1"></i><span>Integrations</span></a>
                        </li>
                        <li class="list-item">
                            <a href="https://discuss.flarum.org/t/reported" class="text-slate-500 cursor-pointer py-2 pl-8 truncate"><i class="float-left -ml-8 mr-1.5 mt-1"></i><span>Reported</span></a>
                        </li>
                        <li class="list-item">
                            <a href="https://discuss.flarum.org/tags" class="text-slate-500 cursor-pointer py-2 pl-8 truncate"><span>More...</span></a>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>
    <div class="flex-grow mt-8">
        <div class="mb-3.5">
            <ul class="inline-block">
                <li class="inline-block mr-1">
                    <div class="inline-block align-middle">
                        <button class="bg-slate-200 text-slate-500 cursor-pointer float-left py-2 px-3 text-center whitespace-nowrap rounded"><span>Latest</span><i class="inline-block ml-1.5"></i></button>
                    </div>
                </li>
                <li class="inline-block mr-1">
                    <div class="inline-block align-middle">
                        <button class="bg-slate-200 text-slate-500 cursor-pointer float-left py-2 px-3 text-center whitespace-nowrap rounded"><span>All questions</span><i class="inline-block ml-1.5"></i></button>
                    </div>
                </li>
            </ul>
            <ul class="float-right">
                <li class="inline-block ml-1">
                    <button class="w-9 bg-slate-200 text-slate-500 cursor-pointer inline-block py-2 align-middle rounded"><i class="inline-block"></i></button>
                </li>
            </ul>
        </div>
        <div>
            <ul class="relative">
                <li class="list-item">
                    <div class="-ml-3.5 -mr-3.5 pl-3.5 pr-6 relative rounded">
                        <div class="text-slate-500 pl-12 pr-20 relative">
                            <a href="https://discuss.flarum.org/u/Yolo" class="text-orange-500 cursor-pointer float-left -ml-12 mt-3"><img src="https://discuss.flarum.org/assets/avatars/HqQS3LSH5wx74JUx.png" class="h-9 w-9 items-center bg-slate-200 text-white inline-flex justify-center align-top rounded-full" /></a>
                            <ul class="float-left -ml-14 mt-3"></ul>
                            <a href="https://discuss.flarum.org/d/33487-delete-user-profile-picture" class="w-full cursor-pointer inline-block -mr-16 py-3"
                            ><h2 class="text-neutral-900 font-semibold mb-1 mr-40 text-ellipsis overflow-hidden">Delete user profile picture</h2>
                                <ul class="text-neutral-400 text-[0.69rem]">
                                    <li class="bottom-[2.02rem] text-xs left-[42.50rem] absolute right-[5.00rem] top-[0.88rem] whitespace-nowrap overflow-hidden">
                    <span
                    ><span class="bg-blue-500 text-white inline-block text-[0.64rem] font-semibold px-1.5 align-bottom rounded"
                    ><span><i class="inline-block mr-1"></i><span>Support</span></span></span
                    ></span
                    >
                                    </li>
                                    <li>
                    <span>
                      <span class="font-bold">Yolo</span> started
                      <div>an hour ago</div></span
                    >
                                    </li>
                                </ul></a
                            ><button class="w-auto text-neutral-900 cursor-pointer float-right text-sm font-bold -mr-16 mt-3 pl-5"><span>1</span><span class="bottom-[3.21rem] left-[48.91rem] absolute right-[2.28rem] top-[0.75rem] whitespace-nowrap overflow-hidden">0 unread replies. Mark unread replies as read.</span></button>
                        </div>
                    </div>
                </li>
                <li class="list-item">
                    <div class="-ml-3.5 -mr-3.5 pl-3.5 pr-6 relative rounded">
                        <div class="text-slate-500 pl-12 pr-20 relative">
                            <a href="https://discuss.flarum.org/u/alexon" class="text-orange-500 cursor-pointer float-left -ml-12 mt-3"><span class="h-9 w-9 items-center bg-purple-300 text-white inline-flex text-lg justify-center align-top rounded-full">A</span></a>
                            <ul class="float-left -ml-14 mt-3"></ul>
                            <a href="https://discuss.flarum.org/d/33485-install-flarum-and-database-separate/5" class="w-full cursor-pointer inline-block -mr-16 py-3"
                            ><h2 class="text-neutral-900 font-semibold mb-1 mr-40 text-ellipsis overflow-hidden">install flarum and database separate.</h2>
                                <ul class="text-neutral-400 text-[0.69rem]">
                                    <li class="bottom-[2.02rem] text-xs left-[42.50rem] absolute right-[5.00rem] top-[0.88rem] whitespace-nowrap overflow-hidden">
                    <span
                    ><span class="bg-blue-500 text-white inline-block text-[0.64rem] font-semibold px-1.5 align-bottom rounded"
                    ><span><i class="inline-block mr-1"></i><span>Support</span></span></span
                    ></span
                    >
                                    </li>
                                    <li>
                    <span
                    ><i class="inline-block"></i> <span class="font-bold">luceos</span> replied
                      <div>8 hours ago</div></span
                    >
                                    </li>
                                </ul></a
                            ><button class="w-auto text-neutral-900 cursor-pointer float-right text-sm font-bold -mr-16 mt-3 pl-5"><span>2</span><span class="bottom-[3.21rem] left-[48.95rem] absolute right-[2.24rem] top-[0.75rem] whitespace-nowrap overflow-hidden">5 unread replies. Mark unread replies as read.</span></button>
                        </div>
                    </div>
                </li>
                <li class="list-item">
                    <div class="-ml-3.5 -mr-3.5 pl-3.5 pr-6 relative rounded">
                        <div class="text-slate-500 pl-12 pr-20 relative">
                            <a href="https://discuss.flarum.org/u/wasonCheung" class="text-orange-500 cursor-pointer float-left -ml-12 mt-3"><img src="https://discuss.flarum.org/assets/avatars/cEQpv68nexTv3D8p.png" class="h-9 w-9 items-center bg-slate-200 text-white inline-flex justify-center align-top rounded-full" /></a>
                            <ul class="float-left -ml-14 mt-3">
                                <li class="inline-block">
                                    <div class="h-6 w-6 items-center bg-lime-600 text-white inline-flex justify-center -ml-3 align-middle rounded-xl"><i></i></div>
                                </li>
                            </ul>
                            <a href="https://discuss.flarum.org/d/33486-passing-null-to-parameter-1-datetime-of-type-string-is-deprecated" class="w-full cursor-pointer inline-block -mr-16 py-3"
                            ><h2 class="text-neutral-900 font-semibold mb-1 mr-40 text-ellipsis overflow-hidden">Passing null to parameter #1 ($datetime) of type string is deprecated</h2>
                                <ul class="text-neutral-400 text-[0.69rem]">
                                    <li class="bottom-[2.02rem] text-xs left-[39.21rem] absolute right-[5.00rem] top-[0.88rem] whitespace-nowrap overflow-hidden">
                    <span
                    ><span class="bg-blue-500 rounded-bl rounded-tl text-white inline-block text-[0.64rem] font-semibold px-1.5 align-bottom"
                    ><span><i class="inline-block mr-1"></i><span>Support</span></span></span
                    ><span class="bg-lime-500 rounded-br rounded-tr text-white inline-block text-[0.64rem] font-semibold px-1.5 align-bottom"
                    ><span><i class="inline-block mr-1"></i><span>Solved</span></span></span
                    ></span
                    >
                                    </li>
                                    <li>
                    <span
                    ><i class="inline-block"></i> <span class="font-bold">clarkwinkelmann</span> replied
                      <div>11 hours ago</div></span
                    >
                                    </li>
                                </ul></a
                            ><button class="w-auto text-neutral-900 cursor-pointer float-right text-sm font-bold -mr-16 mt-3 pl-5"><span>2</span><span class="bottom-[3.21rem] left-[48.95rem] absolute right-[2.24rem] top-[0.75rem] whitespace-nowrap overflow-hidden">1 unread reply. Mark unread reply as read.</span></button>
                        </div>
                    </div>
                </li>
                <li class="list-item">
                    <div class="-ml-3.5 -mr-3.5 pl-3.5 pr-6 relative rounded">
                        <div class="text-slate-500 pl-12 pr-20 relative">
                            <a href="https://discuss.flarum.org/u/ash3T" class="text-orange-500 cursor-pointer float-left -ml-12 mt-3"><img src="https://discuss.flarum.org/assets/avatars/o63Z1qYaEiP0vuPm.png" class="h-9 w-9 items-center bg-slate-200 text-white inline-flex justify-center align-top rounded-full" /></a>
                            <ul class="float-left -ml-14 mt-3"></ul>
                            <a href="https://discuss.flarum.org/d/32838-post-discussion-error" class="w-full cursor-pointer inline-block -mr-16 py-3"
                            ><h2 class="text-neutral-900 font-semibold mb-1 mr-40 text-ellipsis overflow-hidden">Post Discussion error</h2>
                                <ul class="text-neutral-400 text-[0.69rem]">
                                    <li class="bottom-[2.02rem] text-xs left-[42.50rem] absolute right-[5.00rem] top-[0.88rem] whitespace-nowrap overflow-hidden">
                    <span
                    ><span class="bg-blue-500 text-white inline-block text-[0.64rem] font-semibold px-1.5 align-bottom rounded"
                    ><span><i class="inline-block mr-1"></i><span>Support</span></span></span
                    ></span
                    >
                                    </li>
                                    <li>
                    <span
                    ><i class="inline-block"></i> <span class="font-bold">katos</span> replied
                      <div>12 hours ago</div></span
                    >
                                    </li>
                                </ul></a
                            ><button class="w-auto text-neutral-900 cursor-pointer float-right text-sm font-bold -mr-16 mt-3 pl-5"><span>11</span><span class="bottom-[3.21rem] left-[49.30rem] absolute right-[1.89rem] top-[0.75rem] whitespace-nowrap overflow-hidden">10 unread replies. Mark unread replies as read.</span></button>
                        </div>
                    </div>
                </li>
                <li class="list-item">
                    <div class="-ml-3.5 -mr-3.5 pl-3.5 pr-6 relative rounded">
                        <div class="text-slate-500 pl-12 pr-20 relative">
                            <a href="https://discuss.flarum.org/u/Gatsu" class="text-orange-500 cursor-pointer float-left -ml-12 mt-3"><img src="https://discuss.flarum.org/assets/avatars/WvOOUXC5MkeRpphT.png" class="h-9 w-9 items-center bg-slate-200 text-white inline-flex justify-center align-top rounded-full" /></a>
                            <ul class="float-left -ml-14 mt-3"></ul>
                            <a href="https://discuss.flarum.org/d/29137-site-not-clickable" class="w-full cursor-pointer inline-block -mr-16 py-3"
                            ><h2 class="text-neutral-900 font-semibold mb-1 mr-40 text-ellipsis overflow-hidden">Site not clickable</h2>
                                <ul class="text-neutral-400 text-[0.69rem]">
                                    <li class="bottom-[2.02rem] text-xs left-[42.50rem] absolute right-[5.00rem] top-[0.88rem] whitespace-nowrap overflow-hidden">
                    <span
                    ><span class="bg-blue-500 text-white inline-block text-[0.64rem] font-semibold px-1.5 align-bottom rounded"
                    ><span><i class="inline-block mr-1"></i><span>Support</span></span></span
                    ></span
                    >
                                    </li>
                                    <li>
                    <span
                    ><i class="inline-block"></i> <span class="font-bold">JoZ3</span> replied
                      <div>a day ago</div></span
                    >
                                    </li>
                                </ul></a
                            ><button class="w-auto text-neutral-900 cursor-pointer float-right text-sm font-bold -mr-16 mt-3 pl-5"><span>14</span><span class="bottom-[3.21rem] left-[49.40rem] absolute right-[1.79rem] top-[0.75rem] whitespace-nowrap overflow-hidden">13 unread replies. Mark unread replies as read.</span></button>
                        </div>
                    </div>
                </li>
                <li class="list-item">
                    <div class="-ml-3.5 -mr-3.5 pl-3.5 pr-6 relative rounded">
                        <div class="text-slate-500 pl-12 pr-20 relative">
                            <a href="https://discuss.flarum.org/u/Litalino" class="text-orange-500 cursor-pointer float-left -ml-12 mt-3"><span class="h-9 w-9 items-center bg-green-300 text-white inline-flex text-lg justify-center align-top rounded-full">L</span></a>
                            <ul class="float-left -ml-14 mt-3">
                                <li class="inline-block">
                                    <div class="h-6 w-6 items-center bg-lime-600 text-white inline-flex justify-center -ml-3 align-middle rounded-xl"><i></i></div>
                                </li>
                            </ul>
                            <a href="https://discuss.flarum.org/d/33484-ask-about-extension/2" class="w-full cursor-pointer inline-block -mr-16 py-3"
                            ><h2 class="text-neutral-500 mb-1 mr-40 text-ellipsis overflow-hidden">Ask about extension</h2>
                                <ul class="text-neutral-400 text-[0.69rem]">
                                    <li class="bottom-[2.02rem] text-xs left-[39.21rem] absolute right-[5.00rem] top-[0.88rem] whitespace-nowrap overflow-hidden">
                    <span
                    ><span class="bg-blue-500 rounded-bl rounded-tl text-white inline-block text-[0.64rem] font-semibold px-1.5 align-bottom"
                    ><span><i class="inline-block mr-1"></i><span>Support</span></span></span
                    ><span class="bg-lime-500 rounded-br rounded-tr text-white inline-block text-[0.64rem] font-semibold px-1.5 align-bottom"
                    ><span><i class="inline-block mr-1"></i><span>Solved</span></span></span
                    ></span
                    >
                                    </li>
                                    <li>
                    <span
                    ><i class="inline-block"></i> <span class="font-bold">clarkwinkelmann</span> replied
                      <div>a day ago</div></span
                    >
                                    </li>
                                </ul></a
                            ><span class="float-right text-sm -mr-16 mt-3 pl-5"><span>1</span><span class="bottom-[3.21rem] left-[48.88rem] absolute right-[2.31rem] top-[0.75rem] whitespace-nowrap overflow-hidden">1 reply</span></span>
                        </div>
                    </div>
                </li>
                <li class="list-item">
                    <div class="-ml-3.5 -mr-3.5 pl-3.5 pr-6 relative rounded">
                        <div class="text-slate-500 pl-12 pr-20 relative">
                            <a href="https://discuss.flarum.org/u/Abhinaytrader" class="text-orange-500 cursor-pointer float-left -ml-12 mt-3"><span class="h-9 w-9 items-center bg-violet-300 text-white inline-flex text-lg justify-center align-top rounded-full">A</span></a>
                            <ul class="float-left -ml-14 mt-3"></ul>
                            <a href="https://discuss.flarum.org/d/33483-custom-flag-options" class="w-full cursor-pointer inline-block -mr-16 py-3"
                            ><h2 class="text-neutral-900 font-semibold mb-1 mr-40 text-ellipsis overflow-hidden">custom Flag options</h2>
                                <ul class="text-neutral-400 text-[0.69rem]">
                                    <li class="bottom-[2.02rem] text-xs left-[42.50rem] absolute right-[5.00rem] top-[0.88rem] whitespace-nowrap overflow-hidden">
                    <span
                    ><span class="bg-blue-500 text-white inline-block text-[0.64rem] font-semibold px-1.5 align-bottom rounded"
                    ><span><i class="inline-block mr-1"></i><span>Support</span></span></span
                    ></span
                    >
                                    </li>
                                    <li>
                    <span>
                      <span class="font-bold">Abhinaytrader</span> started
                      <div>a day ago</div></span
                    >
                                    </li>
                                </ul></a
                            ><button class="w-auto text-neutral-900 cursor-pointer float-right text-sm font-bold -mr-16 mt-3 pl-5"><span>1</span><span class="bottom-[3.21rem] left-[48.91rem] absolute right-[2.28rem] top-[0.75rem] whitespace-nowrap overflow-hidden">0 unread replies. Mark unread replies as read.</span></button>
                        </div>
                    </div>
                </li>
                <li class="list-item">
                    <div class="-ml-3.5 -mr-3.5 pl-3.5 pr-6 relative rounded">
                        <div class="text-slate-500 pl-12 pr-20 relative">
                            <a href="https://discuss.flarum.org/u/Abhinaytrader" class="text-orange-500 cursor-pointer float-left -ml-12 mt-3"><span class="h-9 w-9 items-center bg-violet-300 text-white inline-flex text-lg justify-center align-top rounded-full">A</span></a>
                            <ul class="float-left -ml-14 mt-3"></ul>
                            <a href="https://discuss.flarum.org/d/33476-sort-discussions-by-alphabetically-from-a-to-z" class="w-full cursor-pointer inline-block -mr-16 py-3"
                            ><h2 class="text-neutral-900 font-semibold mb-1 mr-40 text-ellipsis overflow-hidden">Sort discussions by alphabetically from A to Z</h2>
                                <ul class="text-neutral-400 text-[0.69rem]">
                                    <li class="bottom-[2.02rem] text-xs left-[42.50rem] absolute right-[5.00rem] top-[0.88rem] whitespace-nowrap overflow-hidden">
                    <span
                    ><span class="bg-blue-500 text-white inline-block text-[0.64rem] font-semibold px-1.5 align-bottom rounded"
                    ><span><i class="inline-block mr-1"></i><span>Support</span></span></span
                    ></span
                    >
                                    </li>
                                    <li>
                    <span
                    ><i class="inline-block"></i> <span class="font-bold">Abhinaytrader</span> replied
                      <div>a day ago</div></span
                    >
                                    </li>
                                </ul></a
                            ><button class="w-auto text-neutral-900 cursor-pointer float-right text-sm font-bold -mr-16 mt-3 pl-5"><span>3</span><span class="bottom-[3.21rem] left-[48.96rem] absolute right-[2.23rem] top-[0.75rem] whitespace-nowrap overflow-hidden">2 unread replies. Mark unread replies as read.</span></button>
                        </div>
                    </div>
                </li>
                <li class="list-item">
                    <div class="-ml-3.5 -mr-3.5 pl-3.5 pr-6 relative rounded">
                        <div class="text-slate-500 pl-12 pr-20 relative">
                            <a href="https://discuss.flarum.org/u/H4Ha" class="text-orange-500 cursor-pointer float-left -ml-12 mt-3"><span class="h-9 w-9 items-center bg-fuchsia-300 text-white inline-flex text-lg justify-center align-top rounded-full">H</span></a>
                            <ul class="float-left -ml-14 mt-3"></ul>
                            <a href="https://discuss.flarum.org/d/33022-oops-something-went-wrong-please-reload-the-page-and-try-again" class="w-full cursor-pointer inline-block -mr-16 py-3"
                            ><h2 class="text-neutral-900 font-semibold mb-1 mr-40 text-ellipsis overflow-hidden">oops! something went wrong. please reload the page and try again.</h2>
                                <ul class="text-neutral-400 text-[0.69rem]">
                                    <li class="bottom-[2.02rem] text-xs left-[39.62rem] absolute right-[5.00rem] top-[0.88rem] whitespace-nowrap overflow-hidden">
                    <span
                    ><span class="bg-blue-500 rounded-bl rounded-tl text-white inline-block text-[0.64rem] font-semibold px-1.5 align-bottom"
                    ><span><i class="inline-block mr-1"></i><span>Support</span></span></span
                    ><span class="bg-slate-200 rounded-br rounded-tr text-slate-500 inline-block text-[0.64rem] font-semibold px-1.5 align-bottom"
                    ><span><span>Hosting</span></span></span
                    ></span
                    >
                                    </li>
                                    <li>
                    <span
                    ><i class="inline-block"></i> <span class="font-bold">Vertruc</span> replied
                      <div>2 days ago</div></span
                    >
                                    </li>
                                </ul></a
                            ><button class="w-auto text-neutral-900 cursor-pointer float-right text-sm font-bold -mr-16 mt-3 pl-5"><span>4</span><span class="bottom-[3.21rem] left-[48.99rem] absolute right-[2.19rem] top-[0.75rem] whitespace-nowrap overflow-hidden">3 unread replies. Mark unread replies as read.</span></button>
                        </div>
                    </div>
                </li>
                <li class="list-item">
                    <div class="-ml-3.5 -mr-3.5 pl-3.5 pr-6 relative rounded">
                        <div class="text-slate-500 pl-12 pr-20 relative">
                            <a href="https://discuss.flarum.org/u/MikaelPersson" class="text-orange-500 cursor-pointer float-left -ml-12 mt-3"><img src="https://discuss.flarum.org/assets/avatars/RCGkjz0JChHVu1Jf.png" class="h-9 w-9 items-center bg-slate-200 text-white inline-flex justify-center align-top rounded-full" /></a>
                            <ul class="float-left -ml-14 mt-3">
                                <li class="inline-block">
                                    <div class="h-6 w-6 items-center bg-lime-600 text-white inline-flex justify-center -ml-3 align-middle rounded-xl"><i></i></div>
                                </li>
                            </ul>
                            <a href="https://discuss.flarum.org/d/33477-a-specific-user-can-only-login-through-chrome" class="w-full cursor-pointer inline-block -mr-16 py-3"
                            ><h2 class="text-neutral-900 font-semibold mb-1 mr-40 text-ellipsis overflow-hidden">A specific user can only login through Chrome</h2>
                                <ul class="text-neutral-400 text-[0.69rem]">
                                    <li class="bottom-[2.02rem] text-xs left-[39.21rem] absolute right-[5.00rem] top-[0.88rem] whitespace-nowrap overflow-hidden">
                    <span
                    ><span class="bg-blue-500 rounded-bl rounded-tl text-white inline-block text-[0.64rem] font-semibold px-1.5 align-bottom"
                    ><span><i class="inline-block mr-1"></i><span>Support</span></span></span
                    ><span class="bg-lime-500 rounded-br rounded-tr text-white inline-block text-[0.64rem] font-semibold px-1.5 align-bottom"
                    ><span><i class="inline-block mr-1"></i><span>Solved</span></span></span
                    ></span
                    >
                                    </li>
                                    <li>
                    <span
                    ><i class="inline-block"></i> <span class="font-bold">MikaelPersson</span> replied
                      <div>2 days ago</div></span
                    >
                                    </li>
                                </ul></a
                            ><button class="w-auto text-neutral-900 cursor-pointer float-right text-sm font-bold -mr-16 mt-3 pl-5"><span>6</span><span class="bottom-[3.21rem] left-[48.99rem] absolute right-[2.19rem] top-[0.75rem] whitespace-nowrap overflow-hidden">5 unread replies. Mark unread replies as read.</span></button>
                        </div>
                    </div>
                </li>
                <li class="list-item">
                    <div class="-ml-3.5 -mr-3.5 pl-3.5 pr-6 relative rounded">
                        <div class="text-slate-500 pl-12 pr-20 relative">
                            <a href="https://discuss.flarum.org/u/Cagdas" class="text-orange-500 cursor-pointer float-left -ml-12 mt-3"><img src="https://discuss.flarum.org/assets/avatars/yxwuus9to128a544.jpg" class="h-9 w-9 items-center bg-slate-200 text-white inline-flex justify-center align-top rounded-full" /></a>
                            <ul class="float-left -ml-14 mt-3"></ul>
                            <a href="https://discuss.flarum.org/d/33473-google-workspace-email-sending-problem" class="w-full cursor-pointer inline-block -mr-16 py-3"
                            ><h2 class="text-neutral-900 font-semibold mb-1 mr-40 text-ellipsis overflow-hidden">Google Workspace email sending problem</h2>
                                <ul class="text-neutral-400 text-[0.69rem]">
                                    <li class="bottom-[2.02rem] text-xs left-[39.21rem] absolute right-[5.00rem] top-[0.88rem] whitespace-nowrap overflow-hidden">
                    <span
                    ><span class="bg-blue-500 rounded-bl rounded-tl text-white inline-block text-[0.64rem] font-semibold px-1.5 align-bottom"
                    ><span><i class="inline-block mr-1"></i><span>Support</span></span></span
                    ><span class="bg-lime-500 rounded-br rounded-tr text-white inline-block text-[0.64rem] font-semibold px-1.5 align-bottom"
                    ><span><i class="inline-block mr-1"></i><span>Solved</span></span></span
                    ></span
                    >
                                    </li>
                                    <li>
                    <span
                    ><i class="inline-block"></i> <span class="font-bold">Cagdas</span> replied
                      <div>2 days ago</div></span
                    >
                                    </li>
                                </ul></a
                            ><button class="w-auto text-neutral-900 cursor-pointer float-right text-sm font-bold -mr-16 mt-3 pl-5"><span>17</span><span class="bottom-[3.21rem] left-[49.32rem] absolute right-[1.87rem] top-[0.75rem] whitespace-nowrap overflow-hidden">16 unread replies. Mark unread replies as read.</span></button>
                        </div>
                    </div>
                </li>
                <li class="list-item">
                    <div class="-ml-3.5 -mr-3.5 pl-3.5 pr-6 relative rounded">
                        <div class="text-slate-500 pl-12 pr-20 relative">
                            <a href="https://discuss.flarum.org/u/bbtest" class="text-orange-500 cursor-pointer float-left -ml-12 mt-3"><span class="h-9 w-9 items-center bg-purple-300 text-white inline-flex text-lg justify-center align-top rounded-full">B</span></a>
                            <ul class="float-left -ml-14 mt-3"></ul>
                            <a href="https://discuss.flarum.org/d/33475-the-requested-resource-was-not-found" class="w-full cursor-pointer inline-block -mr-16 py-3"
                            ><h2 class="text-neutral-900 font-semibold mb-1 mr-40 text-ellipsis overflow-hidden">The requested resource was not found.</h2>
                                <ul class="text-neutral-400 text-[0.69rem]">
                                    <li class="bottom-[2.02rem] text-xs left-[38.53rem] absolute right-[5.00rem] top-[0.88rem] whitespace-nowrap overflow-hidden">
                    <span
                    ><span class="bg-blue-500 rounded-bl rounded-tl text-white inline-block text-[0.64rem] font-semibold px-1.5 align-bottom"
                    ><span><i class="inline-block mr-1"></i><span>Support</span></span></span
                    ><span class="bg-slate-200 rounded-br rounded-tr text-slate-500 inline-block text-[0.64rem] font-semibold px-1.5 align-bottom"
                    ><span><span>Installation</span></span></span
                    ></span
                    >
                                    </li>
                                    <li>
                    <span
                    ><i class="inline-block"></i> <span class="font-bold">luceos</span> replied
                      <div>2 days ago</div></span
                    >
                                    </li>
                                </ul></a
                            ><button class="w-auto text-neutral-900 cursor-pointer float-right text-sm font-bold -mr-16 mt-3 pl-5"><span>3</span><span class="bottom-[3.21rem] left-[48.96rem] absolute right-[2.23rem] top-[0.75rem] whitespace-nowrap overflow-hidden">2 unread replies. Mark unread replies as read.</span></button>
                        </div>
                    </div>
                </li>
                <li class="list-item">
                    <div class="-ml-3.5 -mr-3.5 pl-3.5 pr-6 relative rounded">
                        <div class="text-slate-500 pl-12 pr-20 relative">
                            <a href="https://discuss.flarum.org/u/bbtest" class="text-orange-500 cursor-pointer float-left -ml-12 mt-3"><span class="h-9 w-9 items-center bg-purple-300 text-white inline-flex text-lg justify-center align-top rounded-full">B</span></a>
                            <ul class="float-left -ml-14 mt-3">
                                <li class="inline-block">
                                    <div class="h-6 w-6 items-center bg-lime-600 text-white inline-flex justify-center -ml-3 align-middle rounded-xl"><i></i></div>
                                </li>
                            </ul>
                            <a href="https://discuss.flarum.org/d/33471-404-not-found-nginx1201" class="w-full cursor-pointer inline-block -mr-16 py-3"
                            ><h2 class="text-neutral-900 font-semibold mb-1 mr-40 text-ellipsis overflow-hidden">404 Not Found nginx/1.20.1</h2>
                                <ul class="text-neutral-400 text-[0.69rem]">
                                    <li class="bottom-[2.02rem] text-xs left-[36.88rem] absolute right-[5.00rem] top-[0.88rem] whitespace-nowrap overflow-hidden">
                    <span
                    ><span class="bg-blue-500 rounded-bl rounded-tl text-white inline-block text-[0.64rem] font-semibold px-1.5 align-bottom"
                    ><span><i class="inline-block mr-1"></i><span>Support</span></span></span
                    ><span class="bg-slate-200 text-slate-500 inline-block text-[0.64rem] font-semibold px-1.5 align-bottom"
                    ><span><span>Installation</span></span></span
                    ><span class="bg-lime-500 rounded-br rounded-tr text-white inline-block text-[0.64rem] font-semibold px-1.5 align-bottom"
                    ><span><i class="inline-block mr-1"></i><span>Solved</span></span></span
                    ></span
                    >
                                    </li>
                                    <li>
                    <span
                    ><i class="inline-block"></i> <span class="font-bold">bbtest</span> replied
                      <div>2 days ago</div></span
                    >
                                    </li>
                                </ul></a
                            ><button class="w-auto text-neutral-900 cursor-pointer float-right text-sm font-bold -mr-16 mt-3 pl-5"><span>3</span><span class="bottom-[3.21rem] left-[48.96rem] absolute right-[2.23rem] top-[0.75rem] whitespace-nowrap overflow-hidden">2 unread replies. Mark unread replies as read.</span></button>
                        </div>
                    </div>
                </li>
                <li class="list-item">
                    <div class="-ml-3.5 -mr-3.5 pl-3.5 pr-6 relative rounded">
                        <div class="text-slate-500 pl-12 pr-20 relative">
                            <a href="https://discuss.flarum.org/u/Litalino" class="text-orange-500 cursor-pointer float-left -ml-12 mt-3"><span class="h-9 w-9 items-center bg-green-300 text-white inline-flex text-lg justify-center align-top rounded-full">L</span></a>
                            <ul class="float-left -ml-14 mt-3"></ul>
                            <a href="https://discuss.flarum.org/d/33472-error-with-extensions" class="w-full cursor-pointer inline-block -mr-16 py-3"
                            ><h2 class="text-neutral-900 font-semibold mb-1 mr-40 text-ellipsis overflow-hidden">error with extensions</h2>
                                <ul class="text-neutral-400 text-[0.69rem]">
                                    <li class="bottom-[2.02rem] text-xs left-[42.50rem] absolute right-[5.00rem] top-[0.88rem] whitespace-nowrap overflow-hidden">
                    <span
                    ><span class="bg-blue-500 text-white inline-block text-[0.64rem] font-semibold px-1.5 align-bottom rounded"
                    ><span><i class="inline-block mr-1"></i><span>Support</span></span></span
                    ></span
                    >
                                    </li>
                                    <li>
                    <span
                    ><i class="inline-block"></i> <span class="font-bold">Litalino</span> replied
                      <div>2 days ago</div></span
                    >
                                    </li>
                                </ul></a
                            ><button class="w-auto text-neutral-900 cursor-pointer float-right text-sm font-bold -mr-16 mt-3 pl-5"><span>6</span><span class="bottom-[3.21rem] left-[48.99rem] absolute right-[2.19rem] top-[0.75rem] whitespace-nowrap overflow-hidden">5 unread replies. Mark unread replies as read.</span></button>
                        </div>
                    </div>
                </li>
                <li class="list-item">
                    <div class="-ml-3.5 -mr-3.5 pl-3.5 pr-6 relative rounded">
                        <div class="text-slate-500 pl-12 pr-20 relative">
                            <a href="https://discuss.flarum.org/u/Abhinaytrader" class="text-orange-500 cursor-pointer float-left -ml-12 mt-3"><span class="h-9 w-9 items-center bg-violet-300 text-white inline-flex text-lg justify-center align-top rounded-full">A</span></a>
                            <ul class="float-left -ml-14 mt-3"></ul>
                            <a href="https://discuss.flarum.org/d/33463-is-there-any-way-to-change-domain" class="w-full cursor-pointer inline-block -mr-16 py-3"
                            ><h2 class="text-neutral-900 font-semibold mb-1 mr-40 text-ellipsis overflow-hidden">Is there any way to change domain</h2>
                                <ul class="text-neutral-400 text-[0.69rem]">
                                    <li class="bottom-[2.02rem] text-xs left-[42.50rem] absolute right-[5.00rem] top-[0.88rem] whitespace-nowrap overflow-hidden">
                    <span
                    ><span class="bg-blue-500 text-white inline-block text-[0.64rem] font-semibold px-1.5 align-bottom rounded"
                    ><span><i class="inline-block mr-1"></i><span>Support</span></span></span
                    ></span
                    >
                                    </li>
                                    <li>
                    <span
                    ><i class="inline-block"></i> <span class="font-bold">clarkwinkelmann</span> replied
                      <div>3 days ago</div></span
                    >
                                    </li>
                                </ul></a
                            ><button class="w-auto text-neutral-900 cursor-pointer float-right text-sm font-bold -mr-16 mt-3 pl-5"><span>5</span><span class="bottom-[3.21rem] left-[48.97rem] absolute right-[2.22rem] top-[0.75rem] whitespace-nowrap overflow-hidden">4 unread replies. Mark unread replies as read.</span></button>
                        </div>
                    </div>
                </li>
                <li class="list-item">
                    <div class="-ml-3.5 -mr-3.5 pl-3.5 pr-6 relative rounded">
                        <div class="text-slate-500 pl-12 pr-20 relative">
                            <a href="https://discuss.flarum.org/u/yigittyzc" class="text-orange-500 cursor-pointer float-left -ml-12 mt-3"><img src="https://discuss.flarum.org/assets/avatars/uhDGpo9uIkpvmwSO.png" class="h-9 w-9 items-center bg-slate-200 text-white inline-flex justify-center align-top rounded-full" /></a>
                            <ul class="float-left -ml-14 mt-3"></ul>
                            <a href="https://discuss.flarum.org/d/33467-discussion-list-like-button/2" class="w-full cursor-pointer inline-block -mr-16 py-3"
                            ><h2 class="text-neutral-500 mb-1 mr-40 text-ellipsis overflow-hidden">Discussion List Like Button</h2>
                                <ul class="text-neutral-400 text-[0.69rem]">
                                    <li class="bottom-[2.02rem] text-xs left-[42.50rem] absolute right-[5.00rem] top-[0.88rem] whitespace-nowrap overflow-hidden">
                    <span
                    ><span class="bg-blue-500 text-white inline-block text-[0.64rem] font-semibold px-1.5 align-bottom rounded"
                    ><span><i class="inline-block mr-1"></i><span>Support</span></span></span
                    ></span
                    >
                                    </li>
                                    <li>
                    <span
                    ><i class="inline-block"></i> <span class="font-bold">Oshvam</span> replied
                      <div>3 days ago</div></span
                    >
                                    </li>
                                </ul></a
                            ><span class="float-right text-sm -mr-16 mt-3 pl-5"><span>1</span><span class="bottom-[3.21rem] left-[48.88rem] absolute right-[2.31rem] top-[0.75rem] whitespace-nowrap overflow-hidden">1 reply</span></span>
                        </div>
                    </div>
                </li>
                <li class="list-item">
                    <div class="-ml-3.5 -mr-3.5 pl-3.5 pr-6 relative rounded">
                        <div class="text-slate-500 pl-12 pr-20 relative">
                            <a href="https://discuss.flarum.org/u/Litalino" class="text-orange-500 cursor-pointer float-left -ml-12 mt-3"><span class="h-9 w-9 items-center bg-green-300 text-white inline-flex text-lg justify-center align-top rounded-full">L</span></a>
                            <ul class="float-left -ml-14 mt-3">
                                <li class="inline-block">
                                    <div class="h-6 w-6 items-center bg-lime-600 text-white inline-flex justify-center -ml-3 align-middle rounded-xl"><i></i></div>
                                </li>
                            </ul>
                            <a href="https://discuss.flarum.org/d/33468-you-do-not-have-permission-to-do-that-when-creating-a-new-discussion" class="w-full cursor-pointer inline-block -mr-16 py-3"
                            ><h2 class="text-neutral-900 font-semibold mb-1 mr-40 text-ellipsis overflow-hidden">You do not have permission to do that. When creating a new discussion</h2>
                                <ul class="text-neutral-400 text-[0.69rem]">
                                    <li class="bottom-[2.02rem] text-xs left-[39.21rem] absolute right-[5.00rem] top-[0.88rem] whitespace-nowrap overflow-hidden">
                    <span
                    ><span class="bg-blue-500 rounded-bl rounded-tl text-white inline-block text-[0.64rem] font-semibold px-1.5 align-bottom"
                    ><span><i class="inline-block mr-1"></i><span>Support</span></span></span
                    ><span class="bg-lime-500 rounded-br rounded-tr text-white inline-block text-[0.64rem] font-semibold px-1.5 align-bottom"
                    ><span><i class="inline-block mr-1"></i><span>Solved</span></span></span
                    ></span
                    >
                                    </li>
                                    <li>
                    <span
                    ><i class="inline-block"></i> <span class="font-bold">Litalino</span> replied
                      <div>3 days ago</div></span
                    >
                                    </li>
                                </ul></a
                            ><button class="w-auto text-neutral-900 cursor-pointer float-right text-sm font-bold -mr-16 mt-3 pl-5"><span>5</span><span class="bottom-[3.21rem] left-[48.97rem] absolute right-[2.22rem] top-[0.75rem] whitespace-nowrap overflow-hidden">4 unread replies. Mark unread replies as read.</span></button>
                        </div>
                    </div>
                </li>
                <li class="list-item">
                    <div class="-ml-3.5 -mr-3.5 pl-3.5 pr-6 relative rounded">
                        <div class="text-slate-500 pl-12 pr-20 relative">
                            <a href="https://discuss.flarum.org/u/CyberGene" class="text-orange-500 cursor-pointer float-left -ml-12 mt-3"><span class="h-9 w-9 items-center bg-emerald-200 text-white inline-flex text-lg justify-center align-top rounded-full">C</span></a>
                            <ul class="float-left -ml-14 mt-3">
                                <li class="inline-block">
                                    <div class="h-6 w-6 items-center bg-lime-600 text-white inline-flex justify-center -ml-3 align-middle rounded-xl"><i></i></div>
                                </li>
                            </ul>
                            <a href="https://discuss.flarum.org/d/33464-urgent-broke-my-forum-please-help/4" class="w-full cursor-pointer inline-block -mr-16 py-3"
                            ><h2 class="text-neutral-900 font-semibold mb-1 mr-40 text-ellipsis overflow-hidden">Urgent!!! Broke my forum, please help</h2>
                                <ul class="text-neutral-400 text-[0.69rem]">
                                    <li class="bottom-[2.02rem] text-xs left-[39.21rem] absolute right-[5.00rem] top-[0.88rem] whitespace-nowrap overflow-hidden">
                    <span
                    ><span class="bg-blue-500 rounded-bl rounded-tl text-white inline-block text-[0.64rem] font-semibold px-1.5 align-bottom"
                    ><span><i class="inline-block mr-1"></i><span>Support</span></span></span
                    ><span class="bg-lime-500 rounded-br rounded-tr text-white inline-block text-[0.64rem] font-semibold px-1.5 align-bottom"
                    ><span><i class="inline-block mr-1"></i><span>Solved</span></span></span
                    ></span
                    >
                                    </li>
                                    <li>
                    <span
                    ><i class="inline-block"></i> <span class="font-bold">CyberGene</span> replied
                      <div>4 days ago</div></span
                    >
                                    </li>
                                </ul></a
                            ><button class="w-auto text-neutral-900 cursor-pointer float-right text-sm font-bold -mr-16 mt-3 pl-5"><span>3</span><span class="bottom-[3.21rem] left-[48.96rem] absolute right-[2.23rem] top-[0.75rem] whitespace-nowrap overflow-hidden">5 unread replies. Mark unread replies as read.</span></button>
                        </div>
                    </div>
                </li>
                <li class="list-item">
                    <div class="-ml-3.5 -mr-3.5 pl-3.5 pr-6 relative rounded">
                        <div class="text-slate-500 pl-12 pr-20 relative">
                            <a href="https://discuss.flarum.org/u/Abhinaytrader" class="text-orange-500 cursor-pointer float-left -ml-12 mt-3"><span class="h-9 w-9 items-center bg-violet-300 text-white inline-flex text-lg justify-center align-top rounded-full">A</span></a>
                            <ul class="float-left -ml-14 mt-3"></ul>
                            <a href="https://discuss.flarum.org/d/33465-error-in-copy-link-of-postdiscussion" class="w-full cursor-pointer inline-block -mr-16 py-3"
                            ><h2 class="text-neutral-900 font-semibold mb-1 mr-40 text-ellipsis overflow-hidden">error in copy link of post/discussion</h2>
                                <ul class="text-neutral-400 text-[0.69rem]">
                                    <li class="bottom-[2.02rem] text-xs left-[42.50rem] absolute right-[5.00rem] top-[0.88rem] whitespace-nowrap overflow-hidden">
                    <span
                    ><span class="bg-blue-500 text-white inline-block text-[0.64rem] font-semibold px-1.5 align-bottom rounded"
                    ><span><i class="inline-block mr-1"></i><span>Support</span></span></span
                    ></span
                    >
                                    </li>
                                    <li>
                    <span
                    ><i class="inline-block"></i> <span class="font-bold">Abhinaytrader</span> replied
                      <div>4 days ago</div></span
                    >
                                    </li>
                                </ul></a
                            ><button class="w-auto text-neutral-900 cursor-pointer float-right text-sm font-bold -mr-16 mt-3 pl-5"><span>2</span><span class="bottom-[3.21rem] left-[48.95rem] absolute right-[2.24rem] top-[0.75rem] whitespace-nowrap overflow-hidden">1 unread reply. Mark unread reply as read.</span></button>
                        </div>
                    </div>
                </li>
                <li class="list-item">
                    <div class="-ml-3.5 -mr-3.5 pl-3.5 pr-6 relative rounded">
                        <div class="text-slate-500 pl-12 pr-20 relative">
                            <a href="https://discuss.flarum.org/u/jslirola" class="text-orange-500 cursor-pointer float-left -ml-12 mt-3"><img src="https://discuss.flarum.org/assets/avatars/fsrGOLww7U1W6ox9.png" class="h-9 w-9 items-center bg-slate-200 text-white inline-flex justify-center align-top rounded-full" /></a>
                            <ul class="float-left -ml-14 mt-3"></ul>
                            <a href="https://discuss.flarum.org/d/29244-ioexception-cannot-rename-localecatalogue" class="w-full cursor-pointer inline-block -mr-16 py-3"
                            ><h2 class="text-neutral-900 font-semibold mb-1 mr-40 text-ellipsis overflow-hidden">IOException: Cannot rename (/locale/catalogue)</h2>
                                <ul class="text-neutral-400 text-[0.69rem]">
                                    <li class="bottom-[2.02rem] text-xs left-[42.50rem] absolute right-[5.00rem] top-[0.88rem] whitespace-nowrap overflow-hidden">
                    <span
                    ><span class="bg-blue-500 text-white inline-block text-[0.64rem] font-semibold px-1.5 align-bottom rounded"
                    ><span><i class="inline-block mr-1"></i><span>Support</span></span></span
                    ></span
                    >
                                    </li>
                                    <li>
                    <span
                    ><i class="inline-block"></i> <span class="font-bold">luceos</span> replied
                      <div>4 days ago</div></span
                    >
                                    </li>
                                </ul></a
                            ><button class="w-auto text-neutral-900 cursor-pointer float-right text-sm font-bold -mr-16 mt-3 pl-5"><span>6</span><span class="bottom-[3.21rem] left-[48.99rem] absolute right-[2.19rem] top-[0.75rem] whitespace-nowrap overflow-hidden">5 unread replies. Mark unread replies as read.</span></button>
                        </div>
                    </div>
                </li>
            </ul>
            <div class="mt-3 text-center">
                <button class="bg-slate-200 text-slate-500 cursor-pointer inline-block py-2 px-3 align-middle whitespace-nowrap rounded"><span>Load More</span></button>
            </div>
        </div>
    </div>
</div>
